.container {
    padding: 25px
}

.formControl {
    margin: 10; 
    min-width: 120;
    margin-bottom: 30;
}

.loading {
    width: "100%";
    height: "100%";
    display: "flex";
    justify-content: "center";
    align-items: "center";
}